<div class="board">
  <% board = Array.new(8) %>
  <% board.map! {Array(1..8)}%>
  <% board.each_with_index do |row, index| %>
    <div class="row">
      <% row.each do |x| %>
        <% y = index + 1 %>
        <div>
          <% location = locate_piece(x, y) %>
          <% if !location.nil? %>
            <% if location.id == @piece.id %>
              <span class="highlight">MOVE ME</span>
            <% end %>
            <%= link_to render_piece(x, y), piece_path(location)%>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<div class="col-sm-6 col-offset-3">
  <%= simple_form_for @piece, url: piece_path do |f| %>
    <%= f.input :horizontal_position %>
    <%= f.input :vertical_position %>
    <%= f.submit "Update piece position", class: 'btn btn-default' %>
  <% end %>
</div>
<br><br>
