<script>
  $(function() {
    $('.drag').draggable({
      revert: "invalid"
    });
    $('.drag a').bind('click', function(e){
        e.preventDefault();
    });

    $('.drop').droppable({
      drop: function(event, ui){
        var desiredUrl = $(ui.draggable.context.innerHTML).attr("href");
        console.log(ui);
        var x = $(this).data('square-x');
        var y = $(this).data('square-y');
        var piece = { piece: {
          horizontal_position: x,
          vertical_position: y
        } };
        var type = $(ui.draggable.context.outerHTML).attr("data-piece-type");
        var horiz = parseInt($(ui.draggable.context.outerHTML).attr("data-horiz"));
        var vert = parseInt($(ui.draggable.context.outerHTML).attr("data-vert"));
        console.log(horiz, x, vert, y);
        if (x !== horiz || y !== vert) {
          $(this).find('.drag').hide();
        }
        $(ui.draggable).detach().css({top: 0, left: 0}).appendTo(this);
        $.ajax({
          type: 'PUT',
          url: desiredUrl,
          data: piece,
          dataType: 'json'
        }).done(function(data){
          if (data.horizontal_position !== x || data.vertical_position !== y) {
            alert("Illegal move. Try again.");
            window.location.reload();
          }
          else if (type == 'Pawn' && (data.vertical_position == 8)) {
            $('#myModal').modal('show');
          }
          else if (type == 'Pawn' && (data.vertical_position == 1)) {
            document.getElementById("q").src = q.src.replace("white", "black");
            document.getElementById("k").src = k.src.replace("white", "black");
            document.getElementById("r").src = r.src.replace("white", "black");
            document.getElementById("b").src = b.src.replace("white", "black");
            $('#myModal').modal('show');
          }
          else if (x === horiz && y === vert) {
          }
          else {
            window.location.reload();
          }
        });
      }
    });
  });
</script>
<div class='active_player'>
  <% white = User.all.find_by(id: @game.white_player)%>
  <% if white.name %>
    <%= white.name %>
  <% else %>
    <%= white.email %>
  <% end %>
  <%= link_to 'concede', game_path(@game, {concede: true}.merge(params)), data: {confirm: "Are you sure you want to forfeit?" }, method: :put, class: 'btn btn-xs btn-default concede' %>
</div>
<div class="board">
  <% board = Array.new(8) %>
  <% board.map! {Array(1..8)}%>
  <% board.each_with_index do |row, index| %>
    <div class="row">
      <% row.each do |x| %>
        <% y = index + 1 %>
        <div class='drop' data-square-x=<%= x %> data-square-y=<%= y %>>
          <% y = index + 1 %>
          <% location = locate_piece(x, y) %>
          <% if !location.nil? %>
            <div class='<%= colors_turn(location.color) %>' data-piece-type=<%= location.type %> data-horiz=<%= location.horizontal_position %> data-vert=<%= location.vertical_position %>>
              <%= link_to render_piece(x, y), piece_path(location) %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<div class='active_player'>
  <% if @game.black_player %>
    <% black = User.all.find_by(id: @game.black_player)%>
    <% if black.name %>
      <%= black.name %>
    <% else %>
      <%= black.email %>
    <% end %>
  <% end %>
</div>
<br/>
<h5 id='castling'>Castling (when legal) is performed by moving your King 2 spaces to the left or right.</h5>

<div class="modal fade" id='myModal' role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Promote Your Pawn</h4>
      </div>
      <form action="#">
        <div class="promo-selection-container">
          <div class="checkboxgroup">
            <label for="Queen.png" class="radio-label">
              <img src="/assets/whiteQueen.png" id="q" class="piece-image">
              <br />
              Queen
            </label>
            <input class="radio-input" type="radio" name="p_type" value="Queen" checked="checked">
          </div>
          <% ['Knight', 'Rook', 'Bishop'].each do |name| %>
            <div class="checkboxgroup">
              <label for="white<%= name %>.png">
                <img src="/assets/white<%= name %>.png" id="<%= name.chars.first.downcase %>" class="piece-image">
                <br />
                <%= name %>
              </label>
              <input type="radio" name="p_type" value="<%= name %>" id="<%= name %>">
            </div>
          <% end %>
          <br />
          <br />
          <input type="submit" class="btn btn-primary">
        </div>
      </form>
      <br />
      </div>
      </div>
    </div>
</div>
