<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'flav.ico' %>
  <title>ERP Chess</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
<!--   <script src="https://www.gstatic.com/firebasejs/3.7.5/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.7.4/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.7.4/firebase-database.js"></script> -->

</head>
<body>

<!-- <pre id="object"></pre> -->

<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path do %>
        <%= image_tag 'logo2.png', class: 'logo pull-left' %>
        <span class='brand'>ERP Chess</span>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <% if !current_user.name.blank? %>
            <li class="prof_pic"><%= image_tag "http://graph.facebook.com/#{current_user.uid}/picture?width=33&height=33" %></li>
            <li id="user_name"><b><%= current_user.name %></b></li>
            <% else %>
            <li><%= image_tag("sp.png", size: '33x41', class: 'prof_pic') %></li>
            <li id="user_name"><b><%= current_user.email %></b></li>
            <% end %>
          <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li id="special"><%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %></li>
          <li><%= link_to 'Log in', new_user_session_path %></li>
          <li><%= link_to 'Register', new_user_registration_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- Flash Messages -->
<% if notice.present? %>
  <p class="alert alert-info"><%= notice %></p>
<% end %>
<% if alert.present? %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

</body>
<!--   <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyBTq0OeHjGjPO3HigPg6f7wpXHEUmkY5KM",
      authDomain: "chess-8f4e7.firebaseapp.com",
      databaseURL: "https://chess-8f4e7.firebaseio.com",
      projectId: "chess-8f4e7",
      storageBucket: "chess-8f4e7.appspot.com",
      messagingSenderId: "361108543433"
    };
    firebase.initializeApp(config);

    const preObject = document.getElementById('user_name');

    const dbRefObject = firebase.database().ref().child('user_name');
    
    dbRefObject.on('value', snap => {
      preObject.innerText = JSON.stringify(snap.val(), null, 3);
    });

  </script> -->
</html>
